<html>
<head>
    <title>QR Code Renderer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="container">
    {% if error %}
        <p class="text-warning">{{ error }}</p>
    {% endif %}

    {% if qrCode %}
    <div class="row text-center">
        <div class="col-lg-12">
            <img src="{{ qrCode }}" width="{{ width }}" height="{{ height }}"/>
        </div>
    </div>
    {% endif %}

    <div class="row text-center">
        <div class="col-lg-12">
            <a href="/">Back</a>
        </div>
    </div>
</div>
</body>

</html>
